.profile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: url("/1479_wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    color: black;
    letter-spacing: 1px;
}

.box1 {
    position: center;
    align-self: center;
    width: 100%;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    color: black;
    letter-spacing: 1px;
}

.box2 {
    position: center;
    align-self: center;
    width: 100%;
}

.profile-header {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -1px 0 #78909c, 0 1px #78909c, 1px 0 #78909c, 0 -1px #78909c;
    color: #fafafa;
    font-size: 1.7em;
    margin-bottom: -2em !important;
}

.profile-header2 {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -1px 0 #78909c, 0 1px #78909c, 1px 0 #78909c, 0 -1px #78909c;
    color: #fafafa;
    font-size: 1.7em;
    margin-top: 0.5em;
    margin-bottom: -1em;
}

.profile-info {
    width: 90%;
    margin: 5%;
    align-self: center;
}

.scrollable-content {
    background: white;
    overflow: auto;
    flex-grow: 1;
    /* for Firefox */
    min-height: 0;
}

.table-key {
    width: fit-content;
    vertical-align: text-top;
    font-weight: bold;
    padding-right: 10px;
    white-space: nowrap;

    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color: black;
    letter-spacing: 1px;
}

.wrap {
    white-space: normal;
}

.no-wrap {
    white-space: nowrap;
}

.slider{
    width: 90%;
}

.table-value {
    vertical-align: text-top;
    min-width: 100px;
    margin: 5px;
}

.table-space {
    min-width: 30px;
}

.price-label{
    display: block;
    text-align: center;
    width: 100%;
    position: center;
    align-self: center;
}

.list {
  font-family: FontAwesome;
  content: "\f138";
  left : 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: black;
  letter-spacing: 1px;
}

.row-group {
    width: 100%;

    padding-top: 2px !important;
    padding-bottom: 2px !important;
   /* font-size: 1.3em;*/
}

.vstup {
  margin: 4px !important;
}

.row-empty {
    height : 20px;
}

.ok-button{
    width : 40%;
    color: #0d47a1;
    border: 1px solid #0d47a1;
    position: center;
    align-self: center;
}
