.box-card {
    width: 270px;
    cursor: pointer;
}

.card-container {
    border: 1px solid #f2f5f9;
    font-family: "Roboto";
    /*border-radius: 10px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #ffffff;
}

.card-container:hover {
  box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.3);
}

.card-body h2 {
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
}

.card-body p {
   padding-left: 10px;
   padding-right: 10px;
   color: #ffffff;
   letter-spacing: 1px;
}

.preview-line {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.app-card-list {
    display: flex;
    width: 100%;
    /* float: right;*/
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    grid-template-columns: auto auto auto;
}

.app-card-list::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
    .app-card-list {
        width: 80%;
        white-space: nowrap;
        margin-top: 0;
    }
}

.app-card-list .card {
    margin: 60px 30px;
    display: grid;
}

.app-card-list .card .card-body {
    white-space: normal;
}

.card-header {
    background-size: cover;
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 100%;
    min-height: 180px;
}

.designer-link {
    display: inline-block;
    padding-top: 40px;
}


.app-card-list {
    display: grid;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;
}

.app-card-list::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
    .app-card-list {
        width: 80%;
        white-space: nowrap;
        margin-top: 0;
    }
}

.app-card-list .card {
    margin: 60px 30px;
    display: inline-block;
}

.app-card-list .card .card-body {
    white-space: normal;
}
