.box-card {
    width: 250px;
    cursor: pointer;
    margin: 5px;
}

.card-container{
    border: 1px solid #f2f5f9;
    /*border-radius: 10px;*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.preview-line {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.app-card-list {
    display: flex;
    width: 100%;
    /* float: right;*/
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    grid-template-columns: auto auto auto;
}

.app-card-list::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
    .app-card-list {
        width: 80%;
        white-space: nowrap;
        margin-top: 0;
    }
}

.app-card-list .card {
    margin: 60px 30px;
    display: grid;
}

.app-card-list .card .card-body {
    white-space: normal;
}

.card-header {
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    min-height: 180px;
}

.designer-link {
    display: inline-block;
    padding-top: 40px;
}


.app-card-list {
    display: grid;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;
}

.app-card-list::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
    .app-card-list {
        width: 80%;
        white-space: nowrap;
        margin-top: 0;
    }
}

.app-card-list .card {
    margin: 60px 30px;
    display: inline-block;
}

.app-card-list .card .card-body {
    white-space: normal;
}
